{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "corejs": 3
    }],
    "@babel/preset-react"
  ],

  "env": {
    "test": {
      "plugins": [
        ["istanbul", { "exclude": ["**/*.spec.js", "src/helpers/throttle.js"] }]
      ]
    }
  }
}
